In [1]:
import pandas as pd

# Exercise 1

This exercise aims at using Ensemble Methods on the Titanic dataset using the package
scikit-learn.

(a) Copy the files train titanic.csv and test titanic.csv from the website on
the course
(b) Import the data

In [2]:
df_train = pd.read_csv(fr'C:\Users\belen\Desktop\Université de Lorraine\Second semester\Machine_learning\Lab_3\titanic_train.csv')

(c) Describe the dataset train titanic.csv. Remove the features ‘Name’ ‘Ticket’,
‘Embarked’,’Cabin’ and ‘PassengerId’

In [3]:
df_train.describe()
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664 entries, 0 to 663
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  664 non-null    int64
 1   Survived     664 non-null    int64
 2   Pclass       664 non-null    int64
 3   Name         664 non-null    object
 4   Sex          664 non-null    object
 5   Age          525 non-null    float64
 6   SibSp        664 non-null    int64
 7   Parch        664 non-null    int64
 8   Ticket       664 non-null    object
 9   Fare         664 non-null    float64
 10  Cabin        149 non-null    object
 11  Embarked     663 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 62.4+ KB

In [4]:
df_train = df_train.drop(['Name','Ticket','Embarked','Cabin','PassengerId'],axis=1)

(d) Change gender into 0 (`male') ou 1 (`female') and convert the dataframe corre-
sponding to the train set train df into a numpy array :

In [5]:
df_train['Sex'].replace('male',0, inplace=True)
df_train['Sex'].replace('female',1, inplace=True)

C:\Users\belen\AppData\Local\Temp\ipykernel_1036\881386126.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train['Sex'].replace('male',0, inplace=True)
C:\Users\belen\AppData\Local\Temp\ipykernel_1036\881386126.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train['Sex'].replace('female',1, inplace=True)
C:\Users\belen\AppData\Local\Temp\ipykernel_1036\881386126.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_train['Sex'].replace('female',1, inplace=True)

In [6]:
df_train.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    0  22.0      1      0   7.2500
1         1       1    1  38.0      1      0  71.2833
2         1       3    1  26.0      0      0   7.9250
3         1       1    1  35.0      1      0  53.1000
4         0       3    0  35.0      0      0   8.0500

(e) Impute missing values on the train set and test set using the function fillna of
the library pandas

In [7]:
# Here we use mean imputation as an example; you can adjust based on your requirements
df_train.fillna(df_train.mean(), inplace=True)

# Verify that there are no missing values
print("Missing values in df_train:", df_train.isnull().sum().sum())

Missing values in df_train: 0